* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --bg-base: #111111;
  --main-bg-color: #222222;
  --text-color: #F3F3F3;
  --primary-color: #FFC100;
  --primary-color-hover: #E0A800;
}

#root {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-base);
  color: var(--text-color);
  gap: 5vh;
}

header, main, footer {
  background-color: var(--main-bg-color);
}

header, footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  height: 10vh;
  box-shadow: 0 0 10px 5px #0003;
  z-index: 1000000;
}

nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
}

.header_logo span {
  font-weight: bold;
  font-size: 30px;
}

.header_logo img {
  height: 50px;
}

.nav_search {
  display: flex;
}

.nav_search button { 
  border-radius: 0 10px 10px 0;
  padding: 5px 15px;
  justify-content: center;
  align-content: center;
}

#header_search_btn {
  fill: var(--bg-base);
  width: 25px;
  height: 25px;
}

.user_menu_container {
  position: relative;
}

#user_menu_options {
  position: absolute;
  padding: 10px 10px;
  width: 150px;
  right: 30px;
  top: 30px;
  color: var(--text-color);
  border-radius: 10px 0 10px 10px;
}

#user_menu_options h5 {
  width: 100%;
  font-size: 15px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid var(--text-color);
}

#user_menu_options li {
  list-style: none;
  width: 100%;
}

#user_menu_options li a {
  display: block;
  width: 100%;
  color: var(--text-color);
  padding: 10px 10px;
  text-align: center;
  border-bottom: 1px solid var(--text-color);
}

footer {
  min-height: 10vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.main_full_screen {
  width: 80vw;
}

.container {
  background-color: var(--main-bg-color);
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #0003;
}

h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--text-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Forms */

.column_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

label {
  display: block;
}

.form_question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  display: block;
}

input[type='text'], input[type='email'], input[type='password'] {
  background-color: var(--bg-base);
  color: var(--text-color);
  border: none;
  border-bottom: 1px solid var(--text-color);
  padding: 5px 10px;
}

button, input[type='submit'] {
  padding: 10px 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 0 10px 5px #0003;
  transition: background-color 0.3s ease-in-out 0.1s;
}

input[type='text']:focus, input[type='email']:focus, input[type='password']:focus {
  outline: none;
}

button:hover, input[type='submit']:hover {
  cursor: pointer;
  background-color: var(--primary-color-hover);
}

.empty_button {
  background: none;
  border: none;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}

.empty_button:hover {
  background: none;
}

.primary_color_icon, .pickable_icon {
  width: 40px;
  height: 40px;
  fill: var(--primary-color);
}

.pickable_icon {
  transition: fill 0.3s ease-in-out 0.1s;
}

.pickable_icon:hover {
  cursor: pointer;
  fill: var(--primary-color-hover);
}

