header, main, footer {
    background-color: #222;
}

header, footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    height: 10vh;
    box-shadow: 0 0 10px 5px #0003;
    z-index: 1000000;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_logo span {
    font-weight: bold;
    font-size: 30px;
}

.header_logo img {
    height: 50px;
}

footer {
    min-height: 10vh;
}

main {
    flex-grow: 1;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #0003;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

a {
    text-decoration: none;
    color: gold;
}